## Data Cleaning

In [2]:
import string as s

In [3]:
print(s.ascii_lowercase)

abcdefghijklmnopqrstuvwxyz

In [4]:
name='once upon a time we are young'
print(s.capwords(name))

Once Upon A Time We Are Young

## Formatter class and template class

## Importance of string module

In [6]:
from string import Formatter

In [7]:
formatter = Formatter()
name='Akshat'
age=26
format_string=formatter.format('Helllo, Mr {},Your age is {}', name,age)
print(format_string)

Helllo, Mr Akshat,Your age is 26

In [8]:
print('Hello  Mr {} welcome to {} session '.format ('Akshat','Python'))# str.format()

Hello  Mr Akshat welcome to Python session

In [9]:
print('Hello  Mr {0} welcome to {1} session '.format ('Akshat','Python'))# str.format()

Hello  Mr Akshat welcome to Python session

In [10]:
name = 'chandan'
session='Java'
print('Hello Mr {name} welcome to {session} session' .format(session=session,name=name)) #str.format() using varible or keyboard

Hello Mr chandan welcome to Java session

## Use of template class

In [11]:
from string import Template

In [16]:
tmp=Template('Hello $name') #here you can create your own variable placeholders
parsed_string=tmp.substitute(name='Akshat kashyap')
parsed_string

'Hello Akshat kashyap'

In [17]:
tmp=Template('Hello @name') #here you can create your own variable placeholders
parsed_string=tmp.substitute(name='Akshat kashyap')
parsed_string

'Hello @name'

In [18]:
email_message='Dear $customer , Your order no: #$order_id has been delivered.'

In [19]:
t=Template(email_message)
parsed_message=t.substitute(customer='Pavan Kumar',order_id='OIFIOAHDIOQWHD')
print(parsed_message)

Dear Pavan Kumar , Your order no: #OIFIOAHDIOQWHD has been delivered.

## Use of Template class to makE db CONNECTIONS

In [20]:
t=Template('''
192.169.10.01
host=$host
port=$port
user=$user
password=$password




''')


config={'host':'localhost','port':8888,'user':'admin','password':123456}
print(t.substitute(config))

SyntaxError: invalid syntax (1236208448.py, line 14)